<!DOCTYPE html>
<html>
  <head>
    <title>ClockAngle!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
      <h1>These words are anagrams of your word!</h1>
      @foreach(var anagram in Model)
      {
        <p>@anagram</p>
      }



  </body>
</html>
