<!DOCTYPE html>
<html>
  <head>
    <title>Clock Angle</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Time</h1>
    <form action="/anagram">
      <label for="anagram">Enter Anagram Word!</label>
      <input id="anagram" name="anagram" class="form-control" type="text">
      <label for="word1">Enter word to Compare:</label>
      <input id="word1" name="word1" class="form-control" type="text">
      <label for="word2">Enter another word to Compare:</label>
      <input id="word2" name="word2" class="form-control" type="text">
      <label for="word3">Enter another word to Compare:</label>
      <input id="word3" name="word3" class="form-control" type="text">
      <label for="word4">Enter another word to Compare:</label>
      <input id="word4" name="word4" class="form-control" type="text">
      <label for="word5">Enter another word to Compare:</label>
      <input id="word5" name="word5" class="form-control" type="text">
      <button type='submit' class='btn'>Go!</button>
    </form>
  </body>
</html>
